@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    background-color: #800080;
    background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
}
body{
    position: relative;
    width: 100%;
    height: 100vh;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 5px;
    background: crimson;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: black;
    font-size: 55px;
    font-weight: 600;
}
.artboard-inner.jsx-2263963463 {
    position: relative;
}
.navbar .logo a span{
    color: black;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: #111;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #111;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: white;
}
.navbar .menu li a:after{
    content: "";
    display: block;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.navbar .menu li a:hover::after{
    transform: scaleX(1.5);
    transition: transform 0.3s;
    
}
.navbar.sticky .menu li a:hover{
    color: white;
}

/*Menu Button*/
.menu-btn .fa-solid{
    color: #111;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/*Home section*/
.home{
    padding-bottom: 0;
    color: #111;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin-top: 100px;
}
.home .home-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.home .home-content .text-1{
    color: rgb(2, 2, 49);
    font-size: 26px;
    font-weight: 800;
    text-shadow: 0 2px 5px white;
}
.home .home-content .text-2{
    color: rgb(0, 0, 0);
    font-size: 70px;
    font-weight: 600;
    margin-left: -3px;
    text-shadow: 0 2px 4px white;
    
}
.home .home-content .text-3{
    color: rgb(2, 2, 49);
    font-size: 40px;
    margin: 5px auto;
    text-shadow: 0 2px 4px white;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
    text-shadow: 0 2px 3px black
}
.home .home-content .icons{
    margin: 40px 0;
}
.home .home-content .icons i{
    animation-name: icon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    margin-right: 20px;
    color: rgb(252, 239, 223);
    text-shadow: 0 3px 3px black;
    transition: all 0.5s ease-in-out;
}
.home .home-content .icons i:hover{
    -webkit-transform: rotateZ(720deg);
    -moz-transform: rotateZ(720deg);
    transform: rotateZ(720deg);
    text-shadow: none;
}
.home .home-content .left{
    width: 55%;
}
.home-content .right img{
    height:450px;
    width: 440px;
    object-fit: cover;
    border-radius: 15px 90px 15px;
}
.home .home-content .right{
    width: 45%;
}
/*About section*/
.about, footer{
    font-family: 'Poppins',sans-serif;
}
.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
    padding: 20px 0;
    font-family: 'Ubuntu',sans-serif;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom:0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.about .title::after{
    content: "who I am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background-color: #800080;
    background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
    transform: translateX(-50%);
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height:400px;
    width: 400px;
    object-fit: fill;
    border-radius: 6px;
}

.about .about-content .right{
    width: 50%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin: 10px auto;
}

.about .about-content .right .text span{
    color: crimson;
}

.about .about-content .right p{
    text-align: justify;
}
.button-container{
    margin: 20px;
    width: 250px;
    line-height: 50px;
}
.button{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    line-height: 50px;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    text-shadow: 0 3px 3px black;
    cursor: pointer;
    outline: none;
    user-select: none;
    transition: all 0.4s;
    overflow: hidden;
    z-index: 1;
    border-radius: 100px;
    box-shadow: 0 0 5px white, 0 0 10px white;
}
.button:focus {
    outline: none !important;
}
.button::before,.button::after
{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    transform: skewX(20deg);
    z-index: -1;
}
.button::before{
    left: -110%;
    background-color: rgba(255, 0, 0, 0.589);
    transition-property: all;
    transition-duration: 0.4s;
}
.button::after{
    right: -110%;
    background-color: rgba(255, 166, 0, 0.616);
    transition-property: all;
    transition-duration: 0.4s;
}
.button:hover{
    box-shadow: 5px 5px 20px white;
    text-shadow: 0 3px 2px black;
}
.button:hover::before{
    left: -50%;
}
.button:hover::after{
    right: -50%;
}
/* .about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
    color: crimson;
    background: none;
} */

/*Skills Section*/
/* section{
    padding: 20px;
} */
@keyframes bg{
    0%,100%{
        background-color: rgba(0, 0, 0, 0.2);
    }
    25%{
        background-color: rgba(255, 0, 0, 0.2);
    }
    50%{
        background-color: rgba(0, 255, 0, 0.2);
    }
    75%{
        background-color: rgba(0, 0, 255, 0.2);
    }
}
.skills{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bg 4s infinite;
    font-family: 'Poppins',sans-serif;
    background: #111;
    color: #fff;
    overflow: hidden;
}
.skills #vid1{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
}
.skills .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Ubuntu',sans-serif;
}
.decoratedLine{
    overflow: hidden;
    text-align: center;
}
.decoratedLine > span{
   position: relative;
   display: inline-block;
   color: crimson;
   font-size: 20px;
   font-weight: 600;
}
.decoratedLine > span:before, .decoratedLine > span:after{
   content: '';
   position: absolute;
   top: 50%;
   border-bottom: 3px solid;
   width: 100px; /* half of limiter*/
   margin: 0 15px;
   color: black;
}
.decoratedLine > span:before{
   right: 100%;
}
.decoratedLine > span:after{
   left: 100%;
}

.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .column{
    width: calc(50% - 30px);
}

.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p{
    text-align: justify;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;
}

.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    background: crimson;
}

.skills-content .right .html::before{
    width: 90%;
}

.skills-content .right .css::before{
    width: 75%;
}

.skills-content .right .js::before{
    width: 70%;
}

.skills-content .right .cpp::before{
    width: 90%;
}

.skills-content .right .py::before{
    width: 75%;
}

/* Projects section

#projects{
    font-family: 'Poppins',sans-serif;
}
.section-title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
    padding: 20px 0 20px 0;
    font-family: 'Ubuntu',sans-serif;
}
.section-title::before{
    content: "";
    position: absolute;
    bottom:0px;
    left: 50%;
    width: 250px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.section-title::after{
    content: "what I have made";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background-color: #800080;
    background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
    transform: translateX(-50%);
}
#projects .projects-container {
	flex-direction: column;
	max-width: 1200px;
	margin: 20px auto;
	padding: 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 90%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 2.3rem;
	font-weight: 450;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 450;
    margin-top: 10px;
}
#projects .project-info p {
	color: white;
}  
.proj-btn{
    display: inline-block;
    background: transparent;
    border: 1px solid crimson;
    color: crimson;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 25px;
    margin-top: 25px;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.proj-btn:hover{
    border: none;
    color: white;
    box-shadow: 0 0 20px crimson;
    text-shadow: 0 1px 2px crimson;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .7;
}
#projects .project-img img {
    height: 400px;
    width: 700px;
    background-size: 100%;
	transition: .3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
.hrc{
    color: rgb(245, 11, 11);
    font-size: 1.5em;
} */

/*Contact section*/
section{
    padding: 20px 0;
}
.contact{
    font-family: 'Poppins',sans-serif;
}
.contact .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}
.contact .title::before{
    content: "";
    position: absolute;
    bottom:0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.contact .title::after{
    content: "get in touch";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background-color: #800080;
    background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
    transform: translateX(-50%);
}

.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact .contact-content .column{
    width: calc(50% - 30px);
}

.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p{
    text-align: justify;
}

.contact .contact-content .left .icons{
    margin: 10px 0;
}

.contact .contact-content .left .icons2 i{
    font-size: 25px;
    color: crimson;
    margin-right: 20px;
    transition: all 0.3s ease;
}

.contact .contact-content .left .icons2 i:hover{
    transform: scale(1.50);
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}

.contact .contact-content .info .head{
    font-weight: 600;
}

.contact .contact-content .info .head .sub-title{
    color: #333;
}

.contact .right form .fields{
    display: flex;
}

.contact .right form .field,
.contact .right form .fields{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea{
    height: 80px;
    width: 100%;
}

.contact .right form .name{
    margin-right: 10px;
}

.contact .right form .email{
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.button #btn{
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 0 3px 3px black;
}

/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


/*Responsive media query*/
@media(max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}

@media(max-width: 1104px){
    .home-content .right img{
        height: 350px;
        width: 350px;
    }
    .about .about-content .left img{
        height:350px;
        width: 350px;
    }
}

@media(max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}
@media(max-width: 820px){
    .about .about-content .left{
        width: 300px;
        height: 300px;
    }
}
@media(max-width: 770px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    
    .menu-btn i.active:before{
        content:"\f00d"
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: #008c8c;
        background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .max-width{
        max-width: 800px;
    }
    .home .home-content .column{
        width: 100%;
    }
    .home .home-content .left{
        flex: 100%;
    }
    .home .home-content .right{
        display: flex;
        justify-content: center;
        margin: 5px auto;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .skills {
        padding: 12px;
    }
    .skills .title{
        margin-bottom: 2px;
    }
    .decoratedLine{
        margin-bottom: 5px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 25px;
    }
}

@media(max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
}
@media(max-width: 545px){

}
@media(max-width: 507px){
    .home .home-content .text-1{
        text-align: center;
    }
    .home .home-content .text-2{
        font-size: 45px;
        text-align: center;
    }
    .home .home-content .text-3{
        font-size: 22px;
        text-align: center;
    }
    .icons{
        text-align: center;
    }
}
@media(max-width: 512px){
    .skills-content{
        font-size: small;
    }
}
@media(max-width: 416px){
    .skills-content{
        font-size: x-small;
    }
}
@media only screen and (min-width:947px){
    #projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
        height: 100%;
        width: 100%;
	}
	#projects .all-projects .project-img {
        height: 100%;
        width: 100%;
    }
}